 
      
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family"> MAIN</div>
    <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-list-item"><a   [routerLink]="['/addPrestamo']" routerLinkActive="router-link-active"  class="sidebar-link text-muted "><i class="o-home-1 mr-3 text-gray"></i><span>Préstamo</span></a></li>
          <li class="sidebar-list-item"><a  [routerLink]="['/addLibro']" routerLinkActive="router-link-active"  class="sidebar-link text-muted"><i class="o-database-1 mr-3 text-gray"></i><span>Agregar +</span></a></li>
          <li class="sidebar-list-item"><a  [routerLink]="['/addEmpleado']" routerLinkActive="router-link-active"  class="sidebar-link text-muted"><i class="o-paperwork-1 mr-3 text-gray"></i><span> Empleado + </span></a></li>
          
      <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>Listar</span></a>
        <div id="pages" class="collapse">
          <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
            <li class="sidebar-list-item"><a  [routerLink]="['/listarLibro']" routerLinkActive="router-link-active" class="sidebar-link text-muted pl-lg-5">Libros</a></li>
            <li class="sidebar-list-item"><a  [routerLink]="['/listarAutor']" routerLinkActive="router-link-active" class="sidebar-link text-muted pl-lg-5">Autores</a></li>
            <li class="sidebar-list-item"><a  [routerLink]="['/listarDetalle']" routerLinkActive="router-link-active" class="sidebar-link text-muted pl-lg-5">Prestamos</a></li>
            <li class="sidebar-list-item"><a  [routerLink]="['/listarCliente']" routerLinkActive="router-link-active" class="sidebar-link text-muted pl-lg-5">Clientes</a></li>
            <li class="sidebar-list-item"><a  [routerLink]="['/listarEmpleado']" routerLinkActive="router-link-active" class="sidebar-link text-muted pl-lg-5">Empleados</a></li>
          </ul>
        </div>
      </li>
          <li class="sidebar-list-item"><a href="src/app/login.html" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>Login</span></a></li>
    </ul>
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">EXTRAS</div>
    <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-database-1 mr-3 text-gray"></i><span>Demo</span></a></li>
          <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-imac-screen-1 mr-3 text-gray"></i><span>Demo</span></a></li>
          <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-paperwork-1 mr-3 text-gray"></i><span>Demo</span></a></li>
          <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Demo</span></a></li>
    </ul>
 
